[submodule "tock"]
	path = tock
	url = git@github.com:chipsalliance/VeeR-EL2-Tock.git
[submodule "libtock-c"]
	path = libtock-c
	url = https://github.com/tock/libtock-c.git
[submodule "cores-veer-el2"]
	path = cores-veer-el2
	url = https://github.com/chipsalliance/Cores-VeeR-EL2.git
